*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  background-color: rgb(252, 206, 3);
}
h1{
  color: rgb(252, 206, 3);
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 100vh;
}
span{
  opacity: 1;
  transition: all 2s ease;
  transform: translateY(50px);
  display: inline-block;
}
span.fade{
  opacity: 1;
  transform:translateY(0px);
  color: rgb(148, 0, 136);
}